body {
  margin: 0;
  font-family: "Robot Flex", sans-serif;
  background-color: #f3eee6;
  text-align: center;
}

#map {
  width: 10%;
  height: 200px;
  position: relative;
  float: left;
}

.leaflet-popup-content {
  font-size: 14px;
}

.legend {
  width: 50%;
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-top: 2px solid #444;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 0;
  clear: both;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-box {
  width: 18px;
  height: 18px;
  border: 1px solid #999;
}

.legend-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}
#stats-container {
  width: 50%;
  background: rgb(235, 235, 235);
  color: #000000;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-top: 2px solid #444;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 0;
  clear: both;
}
.fotter {
  width: 100%;
  text-indent: 25px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

#map {
  width: 50%;
  height: 500px;
}

#species-info {
  width: 50%;
  height: 500px;
  overflow-y: auto;
}

.jarro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

.jarro-image {
  display: block;
  max-width: 50%;
  height: 200px;
  margin: 0px auto 20px;
  border-radius: 8px;
}

.jarro h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.jarro h4 {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #2c3e50;
}

.jarro ul,
.jarro ol {
  margin-left: 20px;
}

.jarro li {
  margin-bottom: 8px;
}

.accordion-button.collapsed {
  background-color: #f1f8e9;
}

.accordion-body {
  background-color: #fafafa;
}
.accordion-button {
  background-color: #e8f5e9;
  color: #1b5e20;
  font-weight: bold;
}

.carvalho {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

.carvalho-image {
  display: block;
  max-width: 50%;
  height: 200px;
  margin: 0px auto 20px;
  border-radius: 8px;
}

.carvalho h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.carvalho h4 {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #2c3e50;
}

.carvalho ul,
.carvalho ol {
  margin-left: 20px;
}

.carvalho li {
  margin-bottom: 8px;
}
.medronheiro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  color: #333;
  line-height: 1.6;
}

.medronheiro h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.medronheiro h4 {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #2e4e36;
}

.medronheiro ul,
.medronheiro ol {
  margin-left: 20px;
}

.medronheiro li {
  margin-bottom: 8px;
}

.medronheiro-image {
  display: block;
  max-width: 50%;
  height: 200px;
  margin: 0px auto 20px;
  border-radius: 8px;
}

.destaque-btn {
  border: none;
  background-color: transparent;
  font-size: 2em;
  color: #2e4e36;
  transition: all 0.3s ease;
}

.destaque-btn:hover {
  color: #198754;
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(0, 128, 0, 0.4);
  justify-content: center;
}

.container-fluid {
  background: #f3eee6;
  background-size: cover;
  background-position: center;
}

.navbar-brand {
  font-size: 1.5em;
  border-bottom: 1px dotted #2e4e36;
  padding-bottom: 4px;
}
.space {
  background-color: #f3eee6;
}

.navbar-dark, .navbar[data-bs-theme=dark]{
   color: #556B2F!important;
}

span{
    text-align: center;
    color: #556B2F!important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 2px;
   border-bottom: 2px dotted #b1bfc8; 
   padding-bottom: 2px;

  
}
.nav-item{
    margin: 0 100px;
    font-size: 1.2em;
}
#logo {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.navbar {
  background:#f3eee6;
  background-size: cover;
  background-position: center;}

  .display-inicio1{
    font-family: "Roboto Flex", sans-serif; 
  color: #8d9aaa;
  font-size: 1.2em;}

  
 .imgheader{
  width:10%;
  height: 150px;
  margin-right: 40%;
  margin-left: 40%;
padding-bottom: 1%;
  object-fit: fill;
 }

 .flora{
  font-family: "Roboto Flex", sans-serif;
  color: #364a20;
  font-weight: 400;
  font-size: 2em;
  margin: 5px 5px;
 }
.bg-light{
  background-image: url(img/image-from-rawpixel-id-10209080-png.png);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style: groove;
  border-color:#f3eee6 ;
}
.fotter{
  display: flexbox;
  justify-content:left;
  text-align:left;
  font-family: "Roboto Flex", sans-serif;
  color: #364a20;
  font-weight: 500;
  font-display:auto;
  font-size: 1em;
  background-color:#f3eee6;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
}
